<div class="row">
  <div class="col-md-3">
    <%= render 'room_menu' %>
  </div>
  <div class="col-md-9">
    <div class="panel panel-default">

      <div class="panel-heading">
        สิ่งอำนวยความสะดวก
      </div>

      <div class="panel-body">
        <div class="container">
          <%= form_for @room do |f| %>

              <div class="row form-group">
                <div class="col-md-4">
                  <%= f.check_box :is_tv %> ทีวี
                </div>
                <div class="col-md-4">
                  <%= f.check_box :is_kitchen %> ห้องครัว
                </div>
                <div class="col-md-4">
                  <%= f.check_box :is_internet %> WiFi
                </div>
              </div>

              <div class="row form-group">
                <div class="col-md-4">
                  <%= f.check_box :is_heating %> เครื่องทำน้ำอุ่น
                </div>
                <div class="col-md-4">
                  <%= f.check_box :is_air %> แอร์ทั้งหลัง
                </div>
              </div>
              <br/><br/>

              <div class="text-center">
                <%= f.submit "บันทึก", class: "btn btn-form" %>
              </div>

          <% end %>
        </div>
      </div>

    </div>
  </div>
</div>
